<div>
  <%= form_with model: @post do |post| %>
    <p><%=  post.text_area :body,  size: "60x10" %></p>
    <p><%=  post.submit "Post" %></p>
  <% end %>

</div>

<div>
  <% @posts.each do |post| %>
    <p>
      Post:
      <%= post.body %>
      Author:
      <%=  post.user.email %>
      <div>
        <%= button_to 'Like', {:controller => "likes", :action => "create", liked: :true, likeable_id: post.id, likeable_type: :post}, :method=>:post %>
      </div>
    </p>
  <% end %>



</div>
